:root {
    --primary: #49ff8c;    /* Натуральный зеленый */
    --primary-light: #c6f1d5;
    --secondary: #ca8a04;  /* Тёплый желтый */
    --accent: #ea580c;     /* Терракотовый акцент */
    --neutral: #57534e;    /* Neutral brown-gray */
    --light: #faf7f5;      /* Кремовый фон */
}
body {
    height: 100vh;
    background-color: var(--primary-light);
    margin: 0;
    padding: 15px 10px;
}
* {
    box-sizing: border-box;
    font-family: 'Inter';
}
h1 {
    margin: 0;
}
ul {
    margin: 12px 0;
    padding: 0 20px;
}
.container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}
.to-do-base {
    background-color: var(--light);
    border-radius: 5px;
}
.to-do-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 58px;
    padding: 0 10px;
}
.to-do-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}
.to-do-btn__img {
    width: 32px;
    height: 32px;
}
.to-do-title {
    font-size: 2em;
    font-weight: 500;
}
.to-do-info-proj {
    margin-top: 15px;
    padding: 10px;
    opacity: 0;
}
.animOpacity {
    transition: all 0.5s ease;
    opacity: 1;
}
.title {
    display: flex;
    justify-content: space-between;
}
.info-function__title {
    margin-top: 10px;
    font-weight: 500;
}
.input-group {
    display: flex;
    margin-top: 15px;
}
.input-group__user-input {
    width: 95%;
    height: 46px;
    font-size: 15px;
    padding: 5px 10px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.input-group__btn {
    padding: 6px;
    border: none;
    border-radius: 5px;
    width: 50px;
    cursor: pointer;
    background-color: var(--light);
}
.add {
    position: relative;
}
.add__base {
    background-color: black;
}
.add1 {
    position: absolute;
    width: 2px;
    height: 25px;
    top: -12px;
    right: 17px;
}
.add2 {
    position: absolute;
    height: 2px;
    width: 25px;
    top: -1px;
    right: 6px;
}